* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(235, 148, 162);



}
body {
    background-image: url(4646.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
p img {
    width: 25%;
    display: block;

}
nav {
    background-color: pink;


}
a.menu {
    display: inline-block;
    width: 25%;
    padding: 15px 30px 15px 30px;
    padding: white;
    text-decoration: none;
    text-align: center;
}
a.menu:hover {
    background-color: rgb(255, 164, 243);

}
.active {
    background-color: rgb(255, 164, 243);

}
article {
    margin-top: 30px;
    margin-bottom: 30px;

}
article h1 {
    margin: 0 10% 50px 10%;
    background-color: rgb(235, 148, 162);;
    padding-bottom: 30px;
    border-bottom: 5px solid rgb(218, 129, 144);
    text-align:center

}
img.left1 {
    float: left;
    padding: 10px;

}
article p {
    text-align: justify;
}
img.left2 {
     margin-left: -200px;
}